.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 34.8px);
}

.form-container {
    background-color: #F1FFFA;
    width: 30%;
    max-width: 50%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em;
    color: #464e47;
    box-shadow: 5px 5px 10px #464e47;
}

.inputs {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    border: 2px solid #464e47;
    border-radius: 5px;
    box-sizing: border-box;
}

form {
    width: 70%;
}

.submit-button {
    background-color: #568259;
    margin: 1em 0;
    width: 100%;
    padding: .5em;
}

.input-div {
    width: 100%;
}

.sign-up-link {
    color: #464e47;
}

.sign-up-link:hover {
    color: #464e47;
}